.notification {
  position: fixed;
  margin: 25% 0 0 69%;
  background-color: #d2d3db;
  height: 48%;
  width: 30%;
  overflow-y: scroll;
  border-radius: 25px 0 25px 25px;
  color: #484b6a;
}
.notification ul li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.notification ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
}
.notification ul li:hover {
  background-color: #e4e5f1;
  width: 100%;
  border-radius: 25px;
  padding: 5px;
}
