.envoyee {
  background-color: #fefefe;
  position: fixed;
  margin: 10% 0 0 69%;
  border-radius: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 30%;
  color: #9394a5;
  min-height: 120px;
}
.envoyee ul li img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.envoyee ul li a {
  font-style: italic;
  text-decoration: none;
  color: #9394a5;
}
.envoyee ul li {
  text-align: center;
  background-color: #e4e5f2;
  border-radius: 25px;
  padding: 2px;
  display: inline-block;
  width: 30%;
  margin: 0 5px 0 5px;
}
.envoyee ul li:hover {
  background-color: #d2d3db;
}
@media only screen and (max-width: 1680px) {
  .envoyee ul li img {
    height: 50px;
    width: 50px;
  }
  .envoyee ul li {
    font-size: 0.9vw;
  }
}
@media only screen and (max-width: 1560px) {
  .envoyee {
    margin: 10% 0 0 30%;
    width: 38%;
  }
}
@media only screen and (max-width: 1215px) {
  .envoyee ul li {
    width: 25%;
  }
  .envoyee {
    width: 35%;
    margin-left: 31%;
    padding: 0;
  }
}
@media only screen and (max-width: 1050px) {
  .envoyee {
    width: 32%;
    margin: 10% 0 0 33%;
  }
  .envoyee ul li img {
    height: 40px;
    width: 40px;
  }
  .envoyee ul li {
    border-radius: 12px;
  }
}
