.home {
  position: fixed;
  margin-top: 7%;
}

.home .desc {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.home .desc a {
  text-decoration: none;
  background-color: #ffce68;
  padding: 2%;
  border-radius: 25px;
  transition: width 2s;
  width: 100%;
  color: black;
}
.home .desc a:hover {
  color: #ffce68;
  width: 150%;
  background-color: black;
}
