.home {
  position: fixed;
  margin-top: 7%;
}
.home .desc {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.home .desc a {
  text-decoration: none;
  background-color: #fafafa;
  padding: 2%;
  border-radius: 25px;
  transition: width 2s;
  width: 100%;
  color: #9394a5;
}
.home .desc a:hover {
  color: #fafafa;
  width: 150%;
  background-color: #9394a5;
}
.home .desc label {
  background-color: #484b6a;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  cursor: copy;
}
/* @media only screen and (max-width: 1400px) {
  .home {
    position: relative;
  }
} */
