.sur {
  background-color: #fafafa;
  position: fixed;
  padding: 50px;
  border: 2px #484b6a solid;
  border-radius: 15px;
  margin-left: auto;
}
.sur .close {
  float: inline-end;
  margin: -45px;
  cursor: pointer;
  background-color: #9394a5;
  padding: 5px;
  border-radius: 50%;
}
.sur button {
  margin: 5px;
  padding: 15px;
  border: none;
  background-color: #484b6a;
  cursor: pointer;
  border-radius: 15px;
}
.sur .annuler {
  background-color: #9394a5;
}
