.allMyDep {
  width: 45%;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: auto;
  background-color: #d1c6be;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  height: 75%;
  overflow-y: scroll;
}
.allMyDep ul li {
    background-color: #fff;
  font-size: 20px;
  list-style: none;
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
}   
.allMyDep ul li:hover {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #544f53;
  border-radius: 10px;
}
.allMyDep ul li a{
    text-decoration: none;
    color: #000;
}
.allMyDep ul li label{
    float: right;
}
