.warning {
  position: fixed;
  margin-left: 25%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
.warning .conf {
  display: block;
}
.warning .conf button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}
.warning .conf #confirmer {
  background-color: blue;
}
.warning .conf #confirmer:hover {
  background-color: blueviolet;
}
.warning .conf #annuler {
  background-color: gray;
}
.warning .conf #annuler:hover {
  background-color: red;
}
