.HomeAdmin {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.HomeAdmin .createBank {
  color: #fafafa;
  position: fixed;
  top: 1%;
  left: 1%;
  padding: 20px;
  background-color: #484b6a;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  width: 20%;
}
.HomeAdmin .createBank label {
  float: right;
}
.HomeAdmin .createBank label:hover {
  background-color: #fafafa;
  height: 18px;
  width: 18px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  color: #484b6a;
}
.HomeAdmin .createBank:hover {
  box-shadow: 5px 5px #9394a5;
}

.HomeAdmin .AdminProfile {
  position: fixed;
  right: 1%;
  width: 20%;
  background-color: #484b6a;
  padding: 20px;
  margin-top: 5%;
}
.HomeAdmin .AdminProfile:hover {
  box-shadow: 5px 5px #9394a5;

}
.AdminProfile h2 {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  color: #d2d3bd;
}
.HomeAdmin h3 {
  color: #9394a5;
}
