.setting .leftSetting {
  position: fixed;
  background-color: #fafafa;
  width: 30%;
  margin-top: 10%;
  padding: 15px;
  border-radius: 25px;
}

.setting .leftSetting ul li {
  list-style: none;
}
.setting .leftSetting ul li button {
  padding: 15px;
  width: 90%;
  margin: 5px;
  border: none;
  background-color: #d2d3db;
  border-radius: 10px;
  cursor: pointer;
  color: #484b6a;
}
.setting .leftSetting ul li button:hover {
  background-color: #e4e5f1;
}
.setting .rightSetting {
  width: 50%;
  background-color: #fafafa;
  position: fixed;
  height: 45%;
  margin-left: 40%;
  text-align: center;
  border-radius: 15px;
  margin-top: 10%;
}
.setting .rightSetting ul li {
  color: #484b6a;
  list-style: none;
  background-color: #d2d3db;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 14px;
  border-radius: 15px;
}
/* initialement pour block but it's work  */
.setting .rightSetting ul li button {
  float: right;
  padding: 8px;
  margin-top: -8px;
  border-radius: 3px;
  border: none;
  background-color: #484b6a;
  cursor: pointer;
}
.setting .rightSetting ul li button:hover {
  background-color: #fafafa;
}

.setting .rightSetting h4 {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #484b6a;
}
