.user .message img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.user .message {
  background-color: #fafafa;
  width: 60%;
  margin-top: 10%;
  overflow-y: scroll;
  position: fixed;
  height: 45%;
  margin-left: 36%;
  padding: 25px;
  border-radius: 25px;
}
.user .message input {
  text-align: center;
  bottom: 1%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #d2d3db;
}
.user .message .champ {
  margin-left: 15%;
  position: fixed;
  margin-top: 10%;
  width: 35%;
  margin-top: 18%;
}
.user .message .champ button {
  position: fixed;
  margin-top: -43px;
  margin-left: 34%;
  padding: 8px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}
.user .message .champ button:hover {
  cursor: pointer;
  background-color: #484b6a;
}
.user .message ul li {
  margin-top: 8%;
}
.user .message .send {
  margin: 25px;
  display: block;
  float: right;
  border-radius: 15px;
  width: 100%;
}
.user .message .send label {
  background-color: #484b6a;
  float: inline-end;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
}
.user .message .send label img {
  padding: -20px;
  background-color: #fff;
  float: inline-end;
}
.user .message h4 {
  margin-top: -5px;
  text-align: center;
  font-size: 25px;
  color: #d2d3db;
}
.user .message .receive img {
  float: initial;
  display: block;
}
.user .message .receive {
  padding: 25px;
  width: 45%;
  display: block;
  float: left;
  background-color: #d2d3db;
  border-radius: 25px;
}
/* Profile messages  */
.user .profileUser {
  position: fixed;
  background-color: #d2d3db;
  width: 28%;
  text-align: center;
  padding: 50px;
  margin-top: 10%;
  border-radius: 25px;
}
.user .profileUser img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.user .profileUser button {
  background-color: #fafafa;
  width: 45%;
  display: block;
  margin-left: 25%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s;
}
.user .profileUser button:hover {
  background-color: #484b6a;
  border-radius: 8px;
}
.user .profileUser .more {
  float: inline-end;
  font-size: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
  background-color: #484b6a;
  opacity: 0.8;
}
.user .profileUser .more:hover {
  opacity: 1;
  cursor: pointer;
}
