.center {
  position: fixed;
  margin: 10% 0 0 30%;
  border-radius: 25px;
  color: #484b6a;
  width: 38%;
}
@media only screen and (max-width: 1560px) {
  .center {
    margin: 26% 0 0 30%;
  }
}
@media only screen and (max-width: 1290px) {
  .center {
    margin: 28% 0 0 30%;
  }
}
@media only screen and (max-width: 1150px) {
  .center {
    width: 35%;
    margin: 30% 0 0 31%;
  }
}
@media only screen and (max-width: 1016px) {
  .center {
    width: 33%;
    margin: 31% 0 0 32%;
  }
}
@media only screen and (max-width: 900px) {
  .center {
    margin: 34% 0 0 32%;
  }
}
