
.depotRetrait input {
  width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #e4e5f1;
  outline: none;
}
.depotRetrait input:focus {
  font-size: 14px;
  padding: 12px;
}
.depotRetrait button {
  display: block;
  margin-left: 38%;
  padding: 10px;
  border: none;
  background-color: #484b6a;
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
}
.depotRetrait button:hover {
  background-color: #9394a5;
  border-radius: 5px;
}
