.navbar {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  color: #484b6a;
  border-radius: 50px;
  top: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: #484b6a;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline;
  cursor: pointer;
}
.navbar .logo {
  float: left;
  margin-top: 1%;
}
/* right */
.navbar .right {
  float: right;
  margin-top: -2%;
  margin-right: 3%;
}
.navbar .right li {
  padding-left: 20px;
}
.navbar .right li .register {
  background-color: #484b6a;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
}
.navbar .right li .register:hover {
  background-color: #9394a5;
  color: #484b6a;
}
/* right */
.navbar .menuNav {
  display: none;
}
.navbar .menuNav button {
  background: none;
  border: none;
  background: #484b6a;
  font-size: 15px;
  padding: 4px 12px 0 12px;
  border-radius: 15px;
}
.navbar .menuNav button:hover {
  background-color: #9394a5;
}
.navbar .clickedMenu {
  display: none;
}
/* centre */
.navbar .cent {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4e5f1;
  border-radius: 25px;
  opacity: 0.8;
  text-align: center;
}
.navbar .cent {
  padding: 20px;
  height: 20px;
}
.navbar .cent li a {
  text-align: center;
  padding: 20px;
  padding: 0 40px 0 40px;
  opacity: 1;
}
.navbar .cent li a:hover {
  background-color: #484b6a;
  color: #e4e5f1;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 25px;
}
/* centre  les seach*/
.navbar .cent input {
  margin-top: -20px;
  padding: 10px;
  width: 95%;
  border-radius: 15px;
  text-align: center;
  border: none;
}
.navbar .cent input:focus {
  outline: none;
  border: none;
  font-size: 14px;
}
.navbar .cent .searchBtn {
  background-color: #9394a5;
  cursor: pointer;
  border: none;
  margin-top: -5px;
  margin-left: -35px;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.navbar .cent .searchBtn:hover {
  background-color: #484b6a;
}
/* resoponsive */
@media only screen and (max-width: 1670px) {
  .navbar .cent {
    padding: 8px;
  }
  .navbar .cent li a {
    padding: 0 4px 0 4px;
    font-size: 13px;
  }
  .navbar .cent li a:hover {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar .right li .register {
    padding: 7px;
  }
  .navbar .right {
    font-size: 13px;
  }
}
@media only screen and (max-width: 950px) {
  .navbar {
    height: 50px;
  }
  .navbar .cent {
    display: none;
  }
  .navbar .right {
    margin-top: 2px;
  }
  .navbar .menuNav {
    display: inline;
    float: left;
  }
  .navbar .clickedMenu {
    background-color: #9394a5;
    position: fixed;
    width: 25%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: block;
  }
  .navbar .clickedMenu li {
    display: block;
    margin: 1%;
  }
  .navbar .clickedMenu li :hover {
    background-color: #fafafa;
    padding: 3px;
  }
  .navbar .logo {
    float: none;
    font-size: 13px;
    margin: 7px;
    position: relative;
  }
}
