.navbar {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  color: #484b6a;
  border-radius: 50px;
  top: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: #484b6a;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline;
  cursor: pointer;
}
.navbar .logo {
  float: left;
  margin-top: 1%;
}
/* right */
.navbar .right {
  float: right;
  margin-top: -2%;
  margin-right: 3%;
}
.navbar .right li {
  padding-left: 20px;
}
.navbar .right li .register {
  background-color: #484b6a;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
}
.navbar .right li .register:hover {
  background-color: #9394a5;
  color: #484b6a;
}
/* right */

/* centre */
.navbar .cent {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4e5f1;
  border-radius: 25px;
  opacity: 0.8;
  text-align: center;
}
.navbar .cent {
  padding: 20px;
  height: 20px;
}
.navbar .cent li a {
  text-align: center;
  padding: 20px;
  padding: 0 40px 0 40px;
  opacity: 1;
}
.navbar .cent li a:hover {
  background-color: #484b6a;
  color: #e4e5f1;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 25px;
}
/* centre */
.navbar .cent input {
  margin-top: -20px;
  padding: 10px;
  width: 95%;
  border-radius: 15px;
  text-align: center;
  border: none;
}
.navbar .cent input:focus {
  outline: none;
  border: none;
  font-size: 18px;
}
