.messages {
  position: fixed;
  margin: 25% 0 0 69%;
  background-color: #d2d3db;
  height: 48%;
  width: 29%;
  overflow-y: scroll;
  border-radius: 25px 0 25px 25px;
  color: #484b6a;
  padding: 10px;
}
.messages ul li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.messages ul li {
  list-style-type: none;
  background-color: #fff;
  margin: 15px;
  padding: 3px;
  border-radius: 10px;
}
.messages ul li:hover {
  background-color: #e4e5f1;
  border-radius: 25px;
  padding: 5px;
}
.messages ul li a {
  position: absolute;
  font-size: 20px;
  margin-left: 5%;
  text-decoration: none;
  color: #484b6a;
  background-color: #9394a5;
  padding: 3px;
  border-radius: 25px;
}
.messages ul li a:hover {
  color: #9394a5;
  background-color: #484b6a;
}
.messages ul li b {
  margin-left: 8%;
}
.messages input {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 3%;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
.messages input:focus {
  outline: none;
  font-size: 15px;
}
@media only screen and (max-width: 1830px) {
  .messages {
    margin: 28% 0 0 69%;
    height: 33%;
  }
}
@media only screen and (max-width: 1560px) {
  .messages {
    margin: 10% 0 0 69%;
    height: 70%;
    padding: 0;
    font-size: 1vw;
  }
}
@media only screen and (max-width: 1150px) {
  .messages input {
    padding: 5px;
  }
  .messages ul li a {
    font-size: 1.3vw;
  }
  .messages {
    margin: 11% 0 0 70%;
  }
  .messages ul li img {
    height: 35px;
    width: 35px;
  }
}
