.createB {
  background-color: aliceblue;
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.createB h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.createB .warning {
  color: red;
  text-shadow: 1px 1px black;
}
.createB  input {
  width: 50%;
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition:2s witdh;
}
.createB input:focus{
  border: none;
  outline: none;
  padding: 10px;
  background-color: red;
}
