.createB {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0e0e0;
  width: 40%;
  text-align: center;
  margin-top: 5%;
  padding: 25px;
  border-radius: 25px;
  position: fixed;
  margin-left: 25%;
  margin-right: 25%;
}
.createB .close {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  height: 30px;
  width: 30px;
  float: right;
}
.createB .close:hover {
  background-color: #fff;
  border-radius: 49%;
}
.createB .warning {
  color: red;
  text-shadow: 1px 1px black;
}
.createB input {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
}
.createB button:not(.close) {
  cursor: pointer;
  width: 50%;
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #85d7fc;
  margin-top: 25px;
}
