.info {
  margin-top: 7%;
}
.info .txt {
  text-align: center;
  width: 50%;
}
.info  a {
  text-decoration: none;
  background-color: #fafafa;
  padding: 2%;
  border-radius: 25px;
  transition: width 2s;
  width: 100%;
  color: #9394a5;
}
.info  a:hover {
  color: #fafafa;
  width: 150%;
  background-color: #9394a5;
}